@import url('/css/mediaqueries.css');
@import url('/css/scroll.css');

body {
  font-size: 14px;
  font-family: 'Open Sans Condensed', sans-serif;
  overflow-x: hidden;
  background-color: #F7F7F9;
}

.intro{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
}

.rounded-circle {
    border-radius: 50%;
    max-width: 200px;
}

.color-teal{
    color: teal;
}

.scroll{
    position: absolute;
    bottom: 2rem;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid teal;
    margin: 0 auto;
    margin-bottom: 12px;
    padding: 0;
    width: 30%;
}

.partner{
    color: rgb(255, 171, 64);
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.partner:hover{
    color: #ffd8a6;
}